.one {
    width: 100%;
    height: 100vh;
}

.bigtext {
    transform: translate(0%,-25%);
    
}

.bigtextcontainer {
    width: 100%;
    height: calc(100vh - 56px);
    display: grid; 
    align-content: center;
}

hr {
    background-color:gray;
}

.hi {
    font-size: 6vh;
}

.timn {
    font-size: 12vh;
}

.aboutbigcontainer {
    width: 100%;
    height: calc(100vh - 56px);
    display: grid; 
    align-content: center;
}

.aboutcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
}

.about {
    display: grid;
    align-content: center;
    justify-items: center;
    margin: 2vw;
}

.biotext {
    text-align: left;
}

.bioimage {
    width: 300px; 
    height: 300px; 
    border: 1px solid black; 
    border-radius: 50%;
}

.fullheight{
    height: calc(100vh - 56x);
    display: grid;
}

.center {
    display: grid;
    justify-items: center;
    align-content: center;
}

.maxwidth {
    width: 100%;
}

.contactinfo {
    width: max-content;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

.icon {
    width: 30px;
    margin-right: 5px;
}

@media only screen and (max-width: 650px) {
    .hi {
        font-size: 6vw;
    }
    
    .timn {
        font-size: 12vw;
    }
}

@media only screen and (max-width: 1000px) {
    .aboutcontainer {
        flex-wrap: wrap;
    }
    .about {
        width: 100%;
    }
    .aboutbigcontainer {
        width: 100%;
        height: 100%;
        display: block; 
    }
}