.one {
    width: 100%;
    height: 100vh;
}

.bigtext {
    transform: translate(0%,-25%);
    
}

.bigtextcontainer {
    width: 100%;
    height: calc(100vh - 56px);
    display: grid; 
    align-content: center;
}

hr {
    background-color:black;
}

.hi {
    font-size: 6vh;
}

.timn {
    font-size: 12vh;
}

@media only screen and (max-width: 650px) {
    .hi {
        font-size: 6vw;
    }
    
    .timn {
        font-size: 12vw;
    }
}